target
classes
checkouts
pom.xml
pom.xml.asc
*.jar
*.class
.lein-*
.nrepl-port
.hgignore
.hg/
.rebel_readline_history
repl-port
*.fasl
*.dx32fsl
*.dx64fsl
*.lx32fsl
*.lx64fsl
*.x86f
*~
.#*
.DS_Store
*.input.txt
